@import 'normalize.scss';

// === Mixins ===
@mixin font-title {
    font-family: 'Montserrat', sans-serif;
}
@mixin font-button {
    font-family: 'Montserrat', sans-serif;
}
@mixin font-subtitle {
    font-family: 'Merriweather', serif;
}
@mixin font-description_title {
    font-family: 'Merriweather', serif;
}
@mixin font-content {
    font-family: 'Raleway', sans-serif;
}

// === /Mixins ===

// ===  Variables ===

$color-white: #ffffff;
$color-black: #000000;

// ===  /Variables ===

// ===  Common ===
*{
    box-sizing: border-box;
}

.btn-main {
    @include font-button;

    text-align: center;
    color: $color-black;
    font-size:  18px;
    letter-spacing: .12em;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    opacity: .65;   
}

.btn-main:active {
    color: $color-black;
}

body{
    @include font-content;

    color: $color-black;
}

.section-outer {

}
.section-inner {

    width: 1140px;
    margin: 0 auto;
}

@mixin title {
    @include font-title;

    font-size: 38px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: .06em;    
    opacity: .9;
    text-transform: uppercase;
}

@mixin subtitle {
    @include font-subtitle;

    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: .06em;  
    opacity: .55;
    text-transform: uppercase;  
    
}

.item-description {
    color: $color-white;
    margin-left: 68px;
    margin-bottom: 55px;

        &__title{
            @include font-description_title;

            font-size: 20px;
            font-weight: bold;
            line-height: 29px;
            letter-spacing: .05em;
            text-transform: uppercase;
            opacity: .985;
            margin-bottom: 30px;

        }

        &__text {
            @include font-content;

            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
            letter-spacing: .02em;
            opacity: .8;
            margin-bottom: 60px;
        }
        &__button {
            display: inline; 
            

            .link {
                @include font-content;

                color: #f9fbfb;
                font-size: 18px;                
                font-weight: 500;
                letter-spacing: .04em;
                opacity: .9;
                text-transform: uppercase;
                text-decoration: none;
            }
            img {
                margin-left: 17px;
                cursor: pointer;
            }
            
        }

}

.pagination {
    
    display: flex;
    list-style: none;
    padding: 0;

    li {
        cursor: pointer;
        width: 9px;
        height: 9px;
        border: 1px solid #cfcfcf ;
        background-color: #cfcfcf;
        border-radius: 3px;                 

        & + li {
            margin-left: 4px;
        }
        a {
            text-decoration: none;;
        }
    }
    .active-img {
        background-color: #a4f6eb;
        border-color: #a4f6eb; 
    }
}

@mixin item-wide {
    flex-basis: 652px;
}
@mixin item-narrow {
    flex-basis: 474px;
}

// ===  /Common ===


// ===  header ===
.section-header { 

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .1);
    }

    &-top {
        
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        margin-bottom: 205px;
        align-items: center;

        &__logo {}          
        &__menu {}
    }
    
    &-content {
        display: flex;
        align-items: center;
        flex-direction: column;

        
        &-wrapper {        

            &__title {
                @include  font-title;
    
                color: #505050;
                text-align: center;
                font-size: 45px;
                line-height: 28px;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 4px 8px 10px rgba(0, 0, 0, .3);
    
                .title-decor {
                    background-color: #b2f2ee;
                    padding: 0 10px;
                }
            }
            .title-1 {
                margin-bottom: 25px;
            }
            .title-2 {
                margin-bottom: 200px;
            } 
        } 
        
        &__bottom-box {
            width: 80%;            
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            .btn-wrapper {                
                padding: 18px 46px;
                align-self: center;    
                margin-bottom: -40px; 
                border: 2px solid rgba($color-black, .5) ;       
                border-radius: 2px ;  
                cursor: pointer;
            }    
            .btn-wrapper:hover {
                transition: .2s;
                border-color: #b2f2ee;
                background-color: #b2f2ee ;
            }
            .bottom-img {
                align-self: flex-end;
            }
        }
    }
}
// ===  /header ===

// ===  about ===

.section-about { 
    
    background-color: #f8f9fa;      
    padding: 0;

    .section-inner {               
            display: flex;
            flex-direction: column;
            align-items: center; 
    } 

    &__title {
        @include title;
        
        margin-top: 130px;
        margin-bottom: 16px;
    }    
    &__subtitle {
        @include subtitle;

        margin-bottom: 150px;
    }
    &__content {
        display: flex;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;   

            .pagination {
                margin-top: 36px;
                margin-bottom: 113px;
            }
     }
        &-item {
            padding-top: 30px;
            padding-left: 113px;
            width: 52%;

            &_title {
               @include font-description_title; 

               font-size: 20px;
               text-align: 28px;
               font-weight: bold;
               letter-spacing: .06em;
               opacity: .65;
               text-transform: uppercase;
               margin-bottom: 30px;
               
            }
            &_text {
                @include font-content;

                font-size: 16px;
                line-height: 28px;
                font-weight: 400;
                letter-spacing: 0.05em;
                padding-bottom: 30px;
                opacity: .60;
                
            }
        }
    
    }
}

  
// ===  /about ===

// ===  gallery ===
.section-gallery {
    padding-top: 192px;
    padding-bottom: 113px; 

    .section-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include title;

        margin-bottom: 16px;
    }
    &__subtitle {
        @include subtitle;

        margin-bottom: 120px;
    }
    &__content {
        ul {
            display: flex;
            flex-flow:  wrap;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            cursor: pointer;
            margin-top: 13px;
            margin-left: 15px;
        }
        li:nth-child(3n+1){
            margin-left: 0;
         }
    }
}
// ===  /gallery ===

// ===  service ===
.section-service{
    background-color: #f9fafb;

    .section-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__title {
        @include title;

        margin-top: 124px;
        margin-bottom: 16px;
        
    }
    &__subtitle {
        @include subtitle;

        margin-bottom: 124px;
    }
    &__content {
        margin-bottom: 110px;

        .items-box {
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: wrap;
            list-style: none;

            .item-1 {
                @include item-wide;

                background: url(../img/section-service/img1.png) no-repeat ;
                background-size: cover;

                .item-description {
                    margin-top: 184px;
                    width: 65%;
                }
            }

            .item-2 {
                @include item-narrow;

                background: url(../img/section-service/img2.png) no-repeat;
                background-size: cover;

                .item-description {
                    margin-top: 184px;
                    width: 70%;
                }
            }

            .item-3 {
                @include item-wide;

                background: url(../img/section-service/img3.png) no-repeat ;
                background-size:cover ;

                .item-description {
                    margin-top: 165px;
                    width: 65%;
                }
            }

            .item-4 {
                @include item-narrow;

                background: url(../img/section-service/img4.png) no-repeat;
                background-size: cover;

                .item-description {
                    margin-top: 165px;
                    width: 70%;
                }
            }

            .item-5 {
                @include item-narrow;

                background: url(../img/section-service/img5.png) no-repeat;
                background-size: cover;

                .item-description {
                    margin-top: 130px;
                    width: 55%;
                }
            }

            .item-6 {
                @include item-wide;

                background: url(../img/section-service/img6.png) no-repeat ;
                background-size: cover;

                .item-description {
                    margin-top: 130px;
                    width: 65%;
                }
            }

            .item {
                margin-bottom: 14px;

                &:nth-child(even) {
                    margin-left: 14px;
                }
            }
        }
    }
}

// ===  /service ===

// ===  team ===
.section-team {
    .section-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include title;
        margin-top: 122px;
        margin-bottom: 16px;
    }
    &__subtitle {
        @include subtitle;

        margin-bottom: 122px;
    }
    &__content {
        .items-box {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-flow: wrap;
            margin-bottom: 100px;

            .item {
                margin-bottom: 12px;
                margin-left: 14px;
                position: relative;
                

                &-info {
                    display: flex;
                    flex-direction: column;
                    background: url(../img/section-team/info.png) no-repeat;
                    background-size: cover;
                    flex-basis: 335px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin-top: 150px;
                    opacity: 0;
                    visibility: hidden;
                    transition: .7s opacity, .7s visibility;

                    &__name {
                        margin-bottom: 23px;
                    }
                    &__description {
                        @include font-content;

                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.01em;
                        font-weight: 400;
                        opacity: .8;
                        margin-bottom: 30px;
                        
                    }

                    &__links {
                        opacity: .6;
                        i {
                            cursor: pointer;
                        }
                    }
                    a + a {
                        margin-left: 15px;
                    }

                    .full-name {
                        @include font-description_title;
                        
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.05em;
                        font-weight: bold;
                        opacity: .95;
                    }
                    .profession {
                        @include font-description_title;
                        
                        font-size: 15px;
                        font-style: italic;
                        line-height: 24px;
                        letter-spacing: 0.03em;
                        font-weight: 400;
                        opacity: .95;
                        color: #746f6f;
                    }
                    
                   
                   .wrapper {
                       margin-top: 65px;
                       margin-left: 40px;
                       width: 70%;
                       
                   }
                }

                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }

            .item:hover .item-info{
                opacity: 1;
                visibility: visible;
                
            }
        }
    }

}
// ===  /team ===

// ===  feedback ===
    .section-feedback {
        background-color: #f9fafb;
        .section-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            @include title;

            margin-top: 110px;
            margin-bottom: 20px;
        }
        &__subtitle {
            @include subtitle;

            margin-bottom: 136px;
        }
        &__content {
            display: flex;

            .content-photo-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                &__photo {}
                &__pagination {
                    
                    margin-bottom: 140px;
                }
            }
            .content-wrapper {
                margin-top: 40px;
                margin-left: 82px;
                display: flex;
                flex-direction: column;

                .content-message {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #eaeaec;
                    margin-bottom: 50px;
                   

                    &__title {
                        margin-top: 100px;
                        margin-bottom: 30px;

                        .name {
                            @include font-description_title;

                            font-size: 20px;
                            font-weight: bold;
                            line-height: 28px;
                            letter-spacing: 0.06em;
                            opacity: .95;
                        }
                        .profession {
                            @include font-description_title;

                            font-size: 15px;
                            font-weight: 400;
                            line-height: 28px;
                            letter-spacing: 0.06em;
                            opacity: .95;
                            color: #787878;
                            font-style: italic;
                        }
                    }
                    &__text {
                        @include font-content;

                        font-size: 16px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: .06em;
                        opacity: .7;
                        width: 75%;
                        text-align: center;
                        margin-bottom: 40px;
                    }

                    ul {
                        margin: 0 0 38px 0;
                        padding: 0;
                        list-style: none;
                        display: flex;

                        li {
                            cursor:  pointer;
                        }

                        li + li { 
                            padding-left: 7px;
                        }
                    }
                }
                .button-box {
                    align-self: flex-end;
                    

                    .switch-button {
                        background-color: #fff;
                        padding: 18px 20px;
                        border-radius: 3px;
                        box-shadow: 0px 6px 11px 0px rgba(26, 27, 28, 0.1);

                        & + .switch-button {
                            margin-left: 30px;
                        }
                    }
                    .switch-button:hover {
                        background-color: #a4f6eb;
                    }

                }
            }
        }
    }
// ===  /feedback ===



// ===  send-massage ===
.section-send-message {
    background: url(/img/section-send-message/background.png) no-repeat;
    background-size: cover;

    .section-inner {
        display: flex;
        padding: 120px 0 120px 0;

    }

    &-message-box {
       background-color: rgba(84, 93, 101, 0.7) ;
       box-shadow: 0px 0px 30px 0px rgba(28, 28, 28, 0.12);
       width: 55%;
       
       
        &-form {
            

            &__input {
                padding-top: 25px;

                input {
                    @include font-content;

                    width: 93%;
                    border: none;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 51px;
                    opacity: .6;
                    background: rgba(84, 93, 101, 0);  
                    margin-left: 30px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    outline: none;

                    &::placeholder{ 
                        color: $color-white;
                    }

                    &:focus{
                        background: rgba(255, 255, 255 , .2);
                        
                        
                    }
                }
                input::-webkit-input-placeholder {color: $color-white; }
            }
            .input-message {
                padding-bottom: 70px;
            }

            &__button {
                margin: 60px 0 30px 30px;
                background-color: #9fede4;
                padding: 18px 46px;
                align-self: center;    
                border: 1px solid rgba($color-black, .5) ;       
                border-radius: 2px ;  
                cursor: pointer;
                width: 45%;
            }

        }
    }
    &-address-box {
        margin-left: 26px;
        background-color: rgba(84, 93, 101, 0.7) ;
        box-shadow: 0px 0px 30px 0px rgba(28, 28, 28, 0.12);
        width: 45%;

        &-wrapper {
            margin: 0 30px 30px 30px;

            .text-info {
                @include font-content;
                
                color: $color-white;
                font-size: 15px;
                line-height: 24px;
                font-weight: 400;
                opacity: .7;
            }
        }

        .address-info {
            margin-top: 36px;
        }

        .web-info {
            margin-top: 20px;

            a:visited {
                color: $color-white;
            }
        }

        .map {
            margin-top: 30px;
        }

    }
}
// ===  /send-massage ===

// ===  footer-bottom ===
// ===  /footer-bottom ===
