@import 'normalize.scss';

// === Mixins ===
@mixin font-title {
    font-family: 'Montserrat', sans-serif;
}
@mixin font-button {
    font-family: 'Montserrat', sans-serif;
}
@mixin font-subtitle {
    font-family: 'Merriweather', serif;
}
@mixin font-content {
    font-family: 'Raleway', sans-serif;
}

// === /Mixins ===

// ===  Variables ===

$color-white: #ffffff;
$color-black: #000000;

// ===  /Variables ===

// ===  Common ===
*{
    box-sizing: border-box;
}

.btn-main {
    @include font-button;

    text-align: center;
    color: $color-black;
    font-size:  18px;
    letter-spacing: .12em;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    opacity: .65;

       
    
    

}

.btn-main:active {
    color: $color-black;
}

body{
    @include font-content;

    color: $color-black;
   
}

.section-outer {

}
.section-inner {

    width: 1140px;
    margin: 0 auto;
}

// ===  /Common ===


// ===  header ===
.section-header { 

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .1);
    }

    &-top {
        
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        margin-bottom: 205px;
        align-items: center;

        &__logo {}          
        &__menu {}
    }
    
    &-content {
        display: flex;
        align-items: center;
        flex-direction: column;

        
        &-wrapper {        

            &__title {
                @include  font-title;
    
                color: #505050;
                text-align: center;
                font-size: 45px;
                line-height: 28px;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 4px 8px 10px rgba(0, 0, 0, .3);
    
                .title-decor {
                    background-color: #b2f2ee;
                    padding: 0 10px;
                }
            }
            .title-1 {
                margin-bottom: 25px;
            }
            .title-2 {
                margin-bottom: 200px;
            } 
        } 
        
        &__bottom-box {
            width: 80%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn-wrapper {                
                padding: 18px 46px;
                align-self: center;    
                margin-bottom: -40px; 
                border: 2px solid rgba($color-black, .5) ;       
                border-radius: 2px ;  
                cursor: pointer;
            }    
            .btn-wrapper:hover {
                transition: .2s;
                border-color: #b2f2ee;
                background-color: #b2f2ee ;
            }
            
            
            .bottom-img {
                align-self: flex-end;
            }
        }
             
    }
    

}
// ===  /header ===

// ===  about ===
// ===  /about ===

// ===  featured ===
// ===  /featured ===

// ===  service ===
// ===  /service ===

// ===  team ===
// ===  /team ===

// ===  feedback ===
// ===  /feedback ===

// ===  footer-top ===
// ===  /footer-top ===

// ===  footer-main ===
// ===  /footer-main ===

// ===  footer-bottom ===
// ===  /footer-bottom ===
